<h1><%= @article.title %> (<%= @article.likes.count %>)</h1>

<%= link_to 'Like', like_article_path(@article), method: :post %>

<p><%= @article.text %></p>

<h2>Comments</h2>
<%= link_to 'Add new comment', '#', id: 'toggle-comment-form' %>
<div id="comment-form">
  <%= form_for [@article, @article.comments.build] do |f| %>
    <p>
      <%= f.text_area :text, placeholder: 'New comment' %>
    </p>

    <p><%= f.submit %></p>
  <% end %>
</div>

<% @comments.each do |comment| %>
  <p>
    <%= comment.text %> (<%= comment.likes.count %>)
    <%= link_to 'Like', like_article_comment_path(@article, comment), method: :post %>
    [<%= comment.created_at.to_s(:long) %>]
  </p>
<% end %>

<%= link_to 'Back', articles_path %>

<% if current_user.owns? @article %>
  | <%= link_to 'Edit', edit_article_path(@article) %>
  | <%= link_to 'Delete',
    article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<% end %>
